.banner {
  bottom: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  background-color: #FE5A67;
}


.bannerItems {
  line-height: 2%;
  color: white;
  display: flex;
  height: 50px;
}
