.container {
  margin: 25px;
  padding: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap-reverse;
}

h1 {
  font-size: 40px;
  margin: 25px;
  text-align: left;
}

.activity {
  width: 25%;
  /* height: 200px; */
  flex-direction: column;

}
img {
  width: 100%;

}
